<li class="grid grid__col--lg-8 block org-people-profile-card__profile-card-spacing">
                <div>
  
                  
    <section class="artdeco-card full-width EKfWcqWvhgtfHkPXKVFQxBUrJcTlzUfBOOMQ">
<!---->
  
      <img width="210" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" ariarole="presentation" loading="lazy" height="210" alt="" id="ember9914" class="evi-image lazy-image ghost-default ember-view org-people-profile-card__cover-photo org-people-profile-card__cover-photo--people">

      <div class="org-people-profile-card__profile-info">
        <div id="ember9915" class="artdeco-entity-lockup artdeco-entity-lockup--stacked-center artdeco-entity-lockup--size-7 ember-view">
          <div id="ember9916" class="artdeco-entity-lockup__image artdeco-entity-lockup__image--type-circle ember-view" type="circle">

              <img width="104" src="https://media.licdn.com/dms/image/v2/D4E03AQGe3S8xhT8dGQ/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1686509542552?e=1747267200&amp;v=beta&amp;t=0xxcuhaKiKBjC9re_dTo4QmB1oEG6pFL1qR1jFZjOj8" loading="lazy" height="104" id="org-people-profile-card__profile-image-0" class="evi-image lazy-image ember-view">

          
</div>
          <div id="ember9918" class="artdeco-entity-lockup__content ember-view">
            <div id="ember9919" class="artdeco-entity-lockup__title ember-view">
                  <div id="ember9921" class="ember-view lt-line-clamp lt-line-clamp--single-line MgwXvMyiCiEDaMyQkLmdcAtCFCMQQsStlL
                    t-black" style="">
      LinkedIn Member

<!---->  </div>

            
</div>
<!---->            <div id="ember9922" class="artdeco-entity-lockup__subtitle ember-view">
                <div class="t-14 t-black--light t-normal">
                    <div id="ember9924" class="ember-view lt-line-clamp lt-line-clamp--multi-line" style="-webkit-line-clamp: 2">
      Software Engineer at DJI

<!---->  </div>

                </div>
            </div>
            <div id="ember9925" class="artdeco-entity-lockup__caption ember-view"></div>
          </div>
        
</div>
          <span class="text-align-center">
                <span id="ember9927" class="ember-view lt-line-clamp lt-line-clamp--multi-line t-12 t-black--light mt2" style="-webkit-line-clamp: 3">
      <span class="lt-line-clamp__raw-line"></span>
    
<!---->  </span>

          </span>
      </div>

        <footer class="ph3 pb3">
<!---->        </footer>
    
</section>
  
                
</div>

              </li>